* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header {
  background-color: black;
  background-image: img src= "./images/logo.png" alt= "logo";
  color: white;
  height: 40px;
  align-items: center;
}
nav ul {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  gap: 5rem;
  padding: 10px 15px;
}

a {
  color: white;
}

.logo {
  width: 100px;
}
.My Introduction {
  height: 100px;
  width: 300px;
}
.images {
  border: 2px solid;
  border: radius 13px;
  box-shadow: 4px 7px 7px 0px;
  cursor: pointer;
  margin: 10px;
  transition: 400ms;
}
.images:hover {
  filter: grayscale(1);
  transform: scale(1);
}
.img2 {
  border-radius: 1px;
  border-style: groove;
}
.img4 {
  max-height: fit-content;
}
